@import url("https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap");

html,
body {
  font-family: "Be Vietnam", sans-serif;
  font-size: 18px;
}

/* reset CSS */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

ol,
ul {
  list-style: none;
}
