@import "../../../styles/constants.scss";

.width-constraint {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;

  @media screen and (min-width: $width-primary-tablet + 1) {
    width: $width-primary-tablet;
  }

  @media screen and (min-width: $width-primary-laptop + 1) {
    width: $width-primary-laptop;
  }

  @media screen and (min-width: $width-primary-desktop + 1) {
    width: $width-primary-desktop;
  }
}

.max-alt-laptop {
  @media screen and (min-width: $width-primary-laptop + 1) {
    width: $width-alt-laptop;
  }

  @media screen and (min-width: $width-primary-desktop + 1) {
    width: $width-alt-laptop;
  }
}

.max-laptop {
  @media screen and (min-width: $width-primary-desktop + 1) {
    width: $width-primary-laptop;
  }
}
