@import "../../../styles/constants.scss";

.width-constraint {
    width: 100%;
    margin: 0 auto;

    @media screen  and (min-width: $width-primary-tablet + 1){
        width: $width-primary-tablet;
    }

    @media screen  and (min-width: $width-primary-desktop + 1){
        width: $width-primary-desktop;
    }
}