$width-primary-mobile: 320px;
$width-primary-tablet: 768px;
$width-primary-laptop: 1200px;
$width-primary-desktop: 1600px;

// These values used to create variable width look between elements..
// .. on the same page
$width-alt-mobile: 321px;
$width-alt-tablet: 768px;
$width-alt-laptop: 1024px;
$width-alt-desktop: 1600px;
