$width-primary-mobile: 320px;
$width-primary-tablet: 768px;
$width-primary-laptop: 1024px;
$width-primary-desktop: 1600px;

// These values used to create variable width look between elements..
// .. on the same page
$width-variable-mobile: 321px;
$width-variable-tablet: 768px;
$width-variable-desktop: 1600px;