@import url("https://fonts.googleapis.com/css?family=Bungee|Gothic+A1|Be+Vietnam|Vollkorn&display=swap");

/*
font-family: 'Bungee', cursive;
font-family: 'Gothic A1', sans-serif;
font-family: 'Vollkorn', serif;
*/

$font-gothic: "Be Vietnam", sans-serif;
$font-bungee: "Bungee", cursive;
$font-vollkorn: "Vollkorn", serif;

html,
body {
  font-family: $font-gothic;
  font-size: 18px;
  overflow-x: hidden;
}

/* reset CSS */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a,
a:hover,
a:active {
  text-decoration: none;
}
