header {
  align-items: center;
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
  min-height: 46px;
  width: 100%;
}

ul {
  display: flex;

  li {
    margin-right: 0.5rem;
  }
}

.logoType {
  color: red;
}
